<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="urlpath" value="/files/"/>
		<add key="FileRoute" value="D:\\TelnetPDF\\WebApplicationTelnetPDF\\WebApplicationTelnetPDF\\files\\"/>
		<add key="urlmensaje" value="Descargar Archivo Aqui"/>

    <!--
    <add key="CnnStringSqlServerSinPassword" value="Data Source=10.10.10.55;Initial Catalog=Antina;User ID=ws_comprobantes;Password="></add>
    <add key="PasswordSqlServerEncriptado" value="T8NgrJ8ZdwJm21JI9DCPhaPsSpWPKeEJ"></add>
     -->

    <add key="CnnStringSqlServerSinPassword" value="Data Source=10.10.10.55;Initial Catalog=Antinatest;User ID=sa;Password="></add>
    <add key="PasswordSqlServerEncriptado" value="T8NgrJ8ZdwJm21JI9DCPhaPsSpWPKeEJ"></add>
    
    
		<add key="ServerUniverse" value="10.10.0.213"/>
		<add key="UsuarioUniverse" value="administrator"/>
		<add key="PasswordUniverseEncriptado" value="QtrePkoCH3U2VeRxYfMRZA=="/>
		<add key="CuentaUniverse" value="antina"/>
		<add key="Path" value="\\10.10.0.153\d$\ComprasFiles"/>
		<add key="Path2" value="\\10.10.0.153\d$\ComprasFiles\Procesados"/>
		<add key="Archivo" value="Ordenes de Compra_datos.Dat"/>
		<add key="Archivo2" value="OCP-aaaammddhhmmss-().Dat"/>
		<add key="IVA" value="2100"/>
		<add key="CantidadCamposxRegistro" value="73"/>
		<add key="logfile" value="C:\\fuentes\\WebTelnetPdfCRMnoSourcesafe\\log\\logerror.txt"/>
		<add key="PathLog" value="C:\\fuentes\\WebTelnetPdfCRMnoSourcesafe\\log\\logerror.log"/>
		<add key="Logueo" value="true"/>
		<add key="SavePAth" value="\\10.10.0.16\\c$\\inetpub\\wwwroot\\pdfgenprod\\images\"/>
		<add key="ImageRouteTelnetPdf" value="\\10.10.0.16\\c$\\inetpub\\wwwroot\\pdfgenprod\\images\"/> 
	</appSettings>
	<connectionStrings/>
	<system.web>
		<hostingEnvironment shadowCopyBinAssemblies="false"/>
		<compilation targetFramework="4.0" debug="true">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="AjaxControlToolkit, Version=15.1.4.0, Culture=neutral, PublicKeyToken=28F01B0E84B6D53E"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms defaultUrl="~/Home.aspx" loginUrl="~/LogOn.aspx" slidingExpiration="true" timeout="2880"></forms>
		</authentication>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
